<section class="main-font forget-password pb-5">
  <div class="light  mt-5 mx-auto container">
    <h3 class="text-center fw-semibold mb-5 ">MY ACCOUNT</h3>
    <div class="row justify-content-center align-items-center gx-4 gy-4 mb-3">
      <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 ">
        <div class="border p-4 h-100 ">
          <h4 class=" mb-4 fw-semibold">LOGIN</h4>
          <p class="fw-semibold">Reset Your Password</p>
          <div *ngIf="isForgetPassword">
            <p class="text-center">Enter Your Email</p>
            <form action="" class="w-100" [formGroup]="forgetPasswordForm"
              (ngSubmit)="forgetPassword(forgetPasswordForm)">
              <div class="alert rounded-0 alert-danger" *ngIf="statusMessage == 'fail'">
                <p class="m-0">{{failureMessage}}</p>
              </div>
              <input type="email" placeholder="Email" class="w-100 my-2 p-2 border" formControlName="email">
              <div class="alert alert-danger"
                *ngIf="forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched">
                <p class="m-0" *ngIf="forgetPasswordForm.get('email')?.getError('required')">Email is Required</p>
                <p class="m-0" *ngIf="forgetPasswordForm.get('email')?.getError('email')">This Email is invalid</p>
              </div>
              <button type="submit" class="btn btn-dark w-100 rounded-0 mt-5"
                [disabled]="forgetPasswordForm.invalid"><span *ngIf="!isLoading">Send Reset Code</span><i
                  class="fa-solid fa-spinner fa-spin" *ngIf="isLoading"></i></button>
            </form>
          </div>
          <div *ngIf="isResetCode">
            <p class="text-center">Enter The Reset Code</p>
            <form action="" class="w-100" [formGroup]="resetCodeForm" (ngSubmit)="resetCode(resetCodeForm)">
              <div class="alert rounded-0 alert-danger" *ngIf="statusMessage == 'fail'">
                <p class="m-0">{{failureMessage}}</p>
              </div>
              <input type="text" placeholder="Reset Code" class="w-100 my-2 p-2 border" formControlName="resetCode">
              <div class="alert alert-danger"
                *ngIf="resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched">
                <p class="m-0" *ngIf="resetCodeForm.get('resetCode')?.getError('required')">Reset Code is Required</p>

                <p class="m-0" *ngIf="resetCodeForm.get('resetCode')?.getError('pattern')">
                  The Reset Code is digits only
                </p>

              </div>
              <button type="submit" class="btn btn-dark w-100 rounded-0 mt-5" [disabled]="resetCodeForm.invalid"><span
                  *ngIf="!isLoading">Confirm Reset Code</span><i class="fa-solid fa-spinner fa-spin"
                  *ngIf="isLoading"></i></button>
            </form>
          </div>
          <div *ngIf="isResetPassword">
            <p class="text-center">Enter The New Password</p>
            <form action="" class="w-100" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
              <div class="alert rounded-0 alert-danger" *ngIf="statusMessage == 'fail'">
                <p class="m-0">{{failureMessage}}</p>
              </div>
              <input type="password" placeholder="Password" class="w-100 my-2 border p-2" formControlName="password">
              <div class="alert alert-danger"
                *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched">
                <p class="m-0" *ngIf="resetPasswordForm.get('password')?.getError('required')">Password is Required</p>
                <p class="m-0" *ngIf="resetPasswordForm.get('password')?.getError('pattern')">Password must start with
                  capital letter
                  and contain at least 6 characters</p>
              </div>
              <input type="password" placeholder="RePassword" class="w-100 my-2 border p-2"
                formControlName="rePassword">
              <div class="alert alert-danger"
                *ngIf="(resetPasswordForm.get('rePassword')?.errors || resetPasswordForm.errors?.['matchPasswordError']) && resetPasswordForm.get('rePassword')?.touched">
                <p class="m-0" *ngIf="resetPasswordForm.get('rePassword')?.getError('required')">rePassword is Required
                </p>
                <p class="m-0" *ngIf="resetPasswordForm.errors?.['matchPasswordError']">Passwords aren't matched</p>
              </div>
              <button type="submit" class="btn btn-dark w-100 rounded-0 mt-5"
                [disabled]="resetPasswordForm.invalid"><span *ngIf="!isLoading">Reset Password</span><i
                  class="fa-solid fa-spinner fa-spin" *ngIf="isLoading"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--
                 <input type="text" placeholder="Reset Code" class="w-100 my-2 p-2 border" formControlName="resetPassword">
                <div class="alert alert-danger"
                *ngIf="resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched">
                <p class="m-0" *ngIf="resetCodeForm.get('resetCode')?.getError('required')">Reset Code is Required</p>

                <p class="m-0"
                  *ngIf="resetCodeForm.get('resetCode')?.getError('minlength') || resetCodeForm.get('resetCode')?.getError('pattern') ||resetCodeForm.get('resetCode')?.getError('maxlength')">
                  The Reset Code is 6 digits
                </p>

              </div> -->