<!-- NAVBAR  -->

<nav class="navbar navbar-expand-lg bg-body-tertiary main-font fixed-top py-0 d-flex align-items-center"
  data-bs-theme="dark">
  <div class="container mx-auto">
    <div class="d-flex align-items-center justify-content-start w-25">
      <button class="navbar-toggler border-0 " type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">
        <h1 class="text-white m-0">El-Adl</h1>
      </a>
    </div>
    <form class="d-flex w-50 mx-5" role="search" class="collapse" id="collapseSearch">
      <div class="input-group w-100 d-flex align-items-center">
        <i class="fa-solid fa-magnifying-glass text-secondary me-2 d-lg-none"></i>
        <input type="text" class=" darkish border p-2 form-control h-100" placeholder="Search all Products"
          aria-label="search" aria-describedby="basic-addon1">
        <i class="fa fa-xmark fa-lg text-secondary pointer-cursor d-lg-none" data-bs-toggle="collapse"
          data-bs-target="#collapseSearch" aria-controls="collapseSearch"></i>
        <span class="input-group-text d-none d-lg-inline-block h-100 py-2" id="basic-addon1"><i
            class="fa-solid fa-magnifying-glass pointer-cursor text-white fa-lg"></i></span>
      </div>
    </form>
    <div class=" d-flex justify-content-end pointer-cursor w-25 ">

      <div class=" d-flex justify-content-end text-white">
        <div class=" d-flex justify-content-end text-white  d-lg-none" data-bs-toggle="collapse"
          data-bs-target="#collapseSearch" aria-controls="collapseSearch">
          <i class="fa-solid fa-magnifying-glass mx-3 "></i>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3 pointer-cursor dropdown account"
          data-bs-toggle="dropdown">
          <i class="fa-regular fa-user "></i>
          <p class=" mb-0 d-none d-lg-block"><small>Account</small></p>
          <!-- Example single danger button -->
          <ul class="dropdown-menu light main-font shadow">
            <li><a class="dropdown-item light" routerLinkActive="router-link-active" href="#">My ACCOUNT</a></li>
            <li><a class="dropdown-item light" routerLink="/login" routerLinkActive="router-link-active">LOGIN</a></li>
            <li><a class="dropdown-item light" routerLinkActive="router-link-active" routerLink="register">REGISTER</a>
            </li>
            <li><a class="dropdown-item light" routerLinkActive="router-link-active" routerLink="/cart">CART</a></li>
            <li><a class="dropdown-item light" routerLinkActive="router-link-active" href="#">WISHLIST</a></li>
            <li><a class="dropdown-item light" routerLinkActive="router-link-active" href="#">LOGOUT</a></li>
          </ul>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center  mx-3 pointer-cursor"
          data-bs-toggle="offcanvas" data-bs-target="#cartoffcanvasExample" aria-controls="cartoffcanvasExample">
          <i class="fa-solid fa-bag-shopping "></i>
          <p class="mb-0 d-none d-lg-block"><small>Cart</small></p>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start light" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header ">
        <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel"><i
            class="fa-solid fa-scale-balanced me-2"></i>El-Adl
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLinkActive="router-link-active"
              [routerLink]="['/home']" data-bs-dismiss="offcanvas" aria-label="Close">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="router-link-active" data-bs-dismiss="offcanvas"
              aria-label="Close" [routerLink]="['/home']">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="router-link-active" data-bs-dismiss="offcanvas"
              aria-label="Close" [routerLink]="['/brands']">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="router-link-active" data-bs-dismiss="offcanvas"
              aria-label="Close" [routerLink]="['/home']">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>





<!-- CART CANVAS-->

<div class="offcanvas offcanvas-end" tabindex="-1" id="cartoffcanvasExample"
  aria-labelledby="cartoffcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="cartoffcanvasExampleLabel">YOUR CART</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <app-cart></app-cart>
      <a routerLink="/cart">
        <button type="button" class="btn btn-dark w-50 py-2 rounded-0 mt-3 mx-auto border d-block"
          (click)="closeCartCanvas()">
          VIEW CART
        </button>
      </a>
    </div>
  </div>
</div>