<nav class="dark overflow-auto py-2 small-screen-nav  main-font">
  <div>
    <div class="container mx-auto">
      <div class="row align-items-center justify-content-between fixed-top dark">
        <div class="col-6 d-flex justify-content-start ps-md-5 align-items-baseline">
          <i class="fa-solid fa-bars fa-xl pointer-cursor mx-3" (click)="openNav()"></i>
          <div class="brand pb-0">
            <a routerLink="home">
              <h1 class="fs-2 pb-0 pointer-cursor">El-Adl</h1>
            </a>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-evenly justify-content-md-end pe-md-5">
          <i class="fa-solid fa-magnifying-glass mx-2 pointer-cursor" (click)="openNavSearch()"></i>
          <i class="fa-regular fa-user mx-2 pointer-cursor" (click)="toggleAccountMenu()"></i>
          <a data-bs-toggle="offcanvas">
            <i class="fa-solid fa-bag-shopping mx-2 pointer-cursor" data-bs-toggle="offcanvas"
              data-bs-target="#navoffcanvasExample" aria-controls="navoffcanvasExample"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="position-fixed  bottom-0 start-0 end-0 bg-black bg-opacity-50 above-all">
    </div>
    <div class="toggled-nav light vh-100  position-fixed top-0">
      <div class="border-bottom text-end p-2">
        <i class="fa fa-xmark fa-lg pointer-cursor" (click)="closeNav()"></i>
      </div>
      <div>
        <ul>
          <li class="m-2"><a href="">Home</a></li>
          <li class="m-2"><a href="">Categories</a></li>
          <li class="m-2"><a href="">Brands</a></li>
          <li class="m-2"><a href="">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-search fixed-top light w-100 ">
      <div class="container d-flex justify-content-between align-items-center text-secondary mt-2">
        <i class="fa-solid fa-magnifying-glass text-secondary me-2"></i>
        <input type="text" placeholder="Search Products" class="w-75 border-0 me-auto">
        <i class="fa fa-xmark fa-lg text-secondary pointer-cursor" (click)="closeNavSearch()"></i>

      </div>
    </div>
  </div>
</nav>
<nav class="darkish overflow-auto py-3 large-screen-nav fixed-top main-font">
  <div class="container row justify-content-between px-3  mx-auto">
    <div class="title col-2 text-start">
      <a routerLink="home" routerLinkActive="router-link-active">
        <h2 class="fs-1 mb-0">El-Adl</h2>

      </a>
    </div>
    <div class=" large-search col-8 text-center d-flex align-items-center justify-content-center">
      <input type="text" placeholder="Search all products" class="w-100 darkish border p-2 rounded-start-2 h-100 ">
      <span class="border d-inline-block h-100 rounded-end-2 d-flex align-items-center"><i
          class="fa-solid fa-magnifying-glass mx-2 pointer-cursor"></i></span>
    </div>
    <div class="col-2 d-flex justify-content-end ">
      <div class="d-flex flex-column align-items-center justify-content-center  mx-2">
        <i class="fa-regular fa-user pointer-cursor" (click)="toggleAccountMenu()"></i>
        <p class=" mb-0"><small>Account</small></p>
      </div>
      <a data-bs-toggle="offcanvas" data-bs-target="#navoffcanvasExample" aria-controls="navoffcanvasExample"
        class="d-flex flex-column align-items-center justify-content-center  mx-2 pointer-cursor">
        <i class="fa-solid fa-bag-shopping "></i>
        <p class="mb-0"><small>Cart</small></p>
      </a>

    </div>
  </div>
</nav>
<div class="dark  routes py-2 w-100 main-font">
  <div class=" container d-flex gap-4 align-items-center justify-content-center">
    <p class="mb-0"><a href="">Home</a></p>
    <p class="mb-0"><a href="">Gategories</a></p>
    <p class="mb-0"><a href="">Brands</a></p>
    <p class="mb-0"><a href="">Contact Us</a></p>
  </div>
</div>
<div class="sign light p-4 main-font lh-lg position-fixed shadow">
  <div class="d-flex flex-column">
    <a href="">My ACCOUNT</a>
    <a routerLink="login" routerLinkActive="dark ps-2">LOGIN</a>
    <a routerLink="register" routerLinkActive="dark ps-2">SIGNUP</a>
    <a href="">WISHLIST</a>
    <a href="">LOGOUT</a>
  </div>
</div>


<!-- CART CANVAS-->

<div class="offcanvas offcanvas-end" tabindex="-1" id="navoffcanvasExample" aria-labelledby="navoffcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="navoffcanvasExampleLabel">YOUR CART</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <app-cart></app-cart>
      <a routerLink="/cart">
        <button type="button" class="btn btn-dark w-50 py-2 rounded-0 mt-3 mx-auto border d-block">
          VIEW CART
        </button>
      </a>
    </div>
  </div>
</div>