.toggled-nav {
  width: 300px;
  max-width: 100%;
}

.above-all {
  top: 50px;
  z-index: 10000;
  display: none;
}

.fixed-top {
  overflow: auto;
  height: 50px;
}

.toggled-nav {
  left: -300px;
  z-index: 10002;
}

.nav-search {
  z-index: 10001;
  top: 50px;
  display: none;
}

.large-screen-nav.fixed-top {
  display: none;
  height: 100px;
}


.routes {
  display: none;
  position: fixed;
  top: 100px;
}

/* SIGN IN/UP */
.sign {
  display: none;
  top: 50px;
  right: 50px;
  z-index: 10003;
}

@media screen and (min-width: 992px) {
  .small-screen-nav {
    display: none;
  }

  .large-screen-nav.fixed-top,
  .routes {
    display: block;
  }

  .sign {
    top: 100px;
    right: 100px;
    width: 15%;
  }
}