.toggled-nav {
  width: 300px;
}

.above-all {
  top: 50px;
  z-index: 10000;
  display: none;
}

.fixed-top {
  overflow: auto;
  height: 50px;
}

.toggled-nav {
  left: -100%;
  z-index: 10002;
}

.nav-search {
  z-index: 10001;
  top: 50px;
  display: none;
}

.large-screen-nav.fixed-top {
  display: none;
  height: 100px;
}


.routes {
  display: none;
  position: fixed;
  top: 100px;
}

@media screen and (min-width: 992px) {
  .small-screen-nav {
    display: none;
  }

  .large-screen-nav.fixed-top,
  .routes {
    display: block;
  }
}
