/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --light-color: white;
  --dark-color: black;
  --second-color: rgb(245, 245, 245);
  --darkish-color: #222222;
  --input-border: rgb(221, 221, 221);
  --focused-input-border: rgb(171, 171, 171);
  --main-font: 'Poppins', sans-serif;
}

.main-font {
  font-family: var(--main-font);
}

.dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.biege {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.darkish {
  background-color: var(--darkish-color);
  color: var(--light-color);
}

ul {
  list-style: none;
}

a,
a:hover,
a:focus,
a:link {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

.pointer-cursor {
  cursor: pointer;
}

#register input,
#login input {
  padding: 8px 15px;
  border: 1px solid var(--input-border);
}

#register input:focus,
#login input:focus {
  border: 1px solid var(--focused-input-border) !important;
}